{
    "users": [
      {
        "id": 1,
        "userName": "JonS",
        "password": "jons",
        "email": "jon@gmail.com",
        "image": "images/tiger.png"
      },
      {
        "id": 2,
        "userName": "BillyM",
        "password": "billym",
        "email": "billy@gmail.com",
        "image": "images/elephant.png"
      },
      {
        "id": 3,
        "userName": "JamekaE",
        "password": "jamekae",
        "email": "jameka@gmail.com",
        "image": "images/giraffe.jpg"
      },
      {
        "id": 4,
        "userName": "AlexT",
        "password": "alext",
        "email": "alex@gmail.com",
        "image": "images/ostrich.png"
      },
      {
        "id": 5,
        "userName": "ChrisM",
        "password": "chrism",
        "email": "chris@gmail.com",
        "image": "images/ocelot.jpg"
      },
      {
        "userName": "BrianJ",
        "password": "brianj",
        "email": "brian@gmail.com",
        "image": "images/racoon.jpg",
        "id": 6
      },
      {
        "userName": "luke",
        "password": "luke",
        "email": "luke@gmail.com",
        "image": "images/racoon.jpg",
        "id": 7
      }
    ],
    "messages": [
      {
        "id": 1,
        "message": "What do y'all think of our new instructor?",
        "userId": 2
      },
      {
        "id": 2,
        "message": "Who, Joe?! I think he's a bad ass!",
        "userId": 1
      },
      {
        "id": 3,
        "message": "I miss Jisie though!",
        "userId": 4
      },
      {
        "id": 4,
        "message": "But, Kristen is holding down the fort well!",
        "userId": 5
      },
      {
        "id": 5,
        "message": "Found a bug guys!",
        "userId": 3
      },
      {
        "userId": 3,
        "message": "You, think they'll know? HEHE",
        "id": 6
      },
      {
        "userId": 1,
        "message": "holy smokes!",
        "id": 7
      },
      {
        "userId": 3,
        "message": "hey gang!",
        "id": 8
      },
      {
        "userId": 7,
        "message": "hey y'all Im new",
        "id": 9
      },
      {
        "userId": 3,
        "message": "wowser!",
        "id": 10
      }
    ],
    "articles": [
      {
        "id": 1,
        "userId": 2,
        "url": "https://www.wkrn.com/news/removal-of-cherry-trees-begins-in-downtown-nashville/1897109191",
        "title": "Removal of Cherry trees",
        "synopsis": "The NFL demands to have cherry trees taken down",
        "timeStamp": ""
      },
      {
        "id": 3,
        "userId": 1,
        "url": "https://www.wkrn.com/news/crime-tracker/police-looking-for-man-who-fled-after-bank-teller-refused-robbery-demand-note/1896332038",
        "title": "Police looking for man who fled after bank teller refused robbery demand note",
        "synopsis": "Demanded robbery by Note",
        "timeStamp": ""
      },
      {
        "id": 4,
        "userId": 5,
        "url": "https://www.fool.com/investing/2019/04/03/why-amd-stock-is-soaring-today.aspx",
        "title": "AMD stocks Soaring",
        "synopsis": "AMD stocks soaring due to positive news",
        "timeStamp": ""
      },
      {
        "id": 5,
        "userId": 4,
        "url": "https://www.theverge.com/2019/4/1/18291091/tesla-epa-fine-hazardous-waste-fremont-factory",
        "title": "Tesla penalized for violating hazardous waste law at California factory",
        "synopsis": "Tesla allowed waste to sit on site",
        "timeStamp": ""
      }
    ],
    "friends": [
      {
        "id": 1,
        "currentUserId": 2,
        "userId": 1
      },
      {
        "id": 2,
        "currentUserId": 1,
        "userId": 3
      },
      {
        "id": 3,
        "currentUserId": 5,
        "userId": 4
      },
      {
        "id": 4,
        "currentUserId": 3,
        "userId": 5
      },
      {
        "id": 5,
        "currentUserId": 4,
        "userId": 2
      },
      {
        "currentUserId": 7,
        "userId": 3,
        "id": 8
      },
      {
        "currentUserId": 7,
        "userId": 4,
        "id": 9
      },
      {
        "currentUserId": 3,
        "userId": 7,
        "id": 10
      }
    ],
    "tasks": [
      {
        "id": 1,
        "userId": 2,
        "taskName": "Take out trash",
        "targetDate": "4/5/2019",
        "isComplete": false
      },
      {
        "id": 2,
        "userId": 1,
        "taskName": "mow the lawn",
        "targetDate": "4/1/2019",
        "isComplete": false
      },
      {
        "id": 3,
        "userId": 3,
        "taskName": "trim hedges",
        "targetDate": "4/1/2019",
        "isComplete": true
      },
      {
        "id": 4,
        "userId": 5,
        "taskName": "clean the kitchen",
        "targetDate": "4/3/2019",
        "isComplete": false
      },
      {
        "id": 5,
        "userId": 4,
        "taskName": "file taxes",
        "targetDate": "4/15/2019",
        "isComplete": false
      },
      {
        "userId": 3,
        "taskName": "go car shopping!",
        "targetDate": "2022-04-02",
        "isComplete": false,
        "id": 6
      },
      {
        "userId": 3,
        "taskName": "go grocery shopping",
        "targetDate": "2019-04-12",
        "isComplete": true,
        "id": 7
      },
      {
        "userId": 7,
        "taskName": "Go house shopping",
        "targetDate": "2019-04-12",
        "isComplete": true,
        "id": 8
      },
      {
        "userId": 3,
        "taskName": "go grocery shopping",
        "targetDate": "2019-04-10",
        "isComplete": true,
        "id": 9
      }
    ],
    "events": [
      {
        "userId": 5,
        "eventName": "NFL draft",
        "url": "",
        "eventDate": "2019-04-27",
        "eventLocation": "Nashville,TN",
        "id": 1
      },
      {
        "id": 2,
        "userId": 2,
        "eventName": "Demo Day",
        "url": "www.nss.com",
        "eventDate": "2019-03-22",
        "eventLocation": "500 Interstate Blvd S"
      },
      {
        "id": 4,
        "userId": 4,
        "eventName": "Jimmy Buffet concert",
        "url": "https://www.bridgestonearena.com/events/detail/jimmy-buffett-the-coral-reefer-band",
        "eventDate": "2019-04-27",
        "eventLocation": "Bridgestone arena Nashville,TN"
      },
      {
        "id": 5,
        "userId": 1,
        "eventName": "Hozier concert",
        "url": "www.getrich.com",
        "eventDate": "2019-03-21",
        "eventLocation": " The Ryman Nashvile,TN"
      },
      {
        "id": 6,
        "userId": 1,
        "eventName": "lalalla",
        "url": "www.getrich.com",
        "eventDate": "2019-03-21",
        "eventLocation": " The Ryman Nashvile,TN"
      },
      {
        "id": 7,
        "userId": 4,
        "eventName": "test",
        "url": "www.getrich.com",
        "eventDate": "2019-03-21",
        "eventLocation": " The Ryman Nashvile,TN"
      },
      {
        "userId": 5,
        "eventName": "New Event Test",
        "url": "",
        "eventDate": "2019-04-08",
        "eventLocation": "NSS",
        "id": 8
      },
      {
        "userId": 3,
        "eventName": "AeroSmith Concert",
        "url": "",
        "eventDate": "2019-04-18",
        "eventLocation": "Bridgestone Arena",
        "id": 9
      }
    ]
  }
  